.login{
    margin: auto;
    margin-top: 20px;
    width: 80%;
    /* background-color: lightcoral; */
    border-color: royalblue;
    border: 3px;
    border-radius: 50px;
    padding-bottom: 70px;
}

.loginHeader{
    padding-top: 120px;
    padding-bottom: 20px;
}
.loginHeader h4{
    margin: 0;
    color: rgb(86, 94, 86);
}
.loginHeader h1{
    margin: 0;
    color: rgb(3, 64, 3);
}

.loginMain{
    margin:auto;
    width: 400px;
}
.loginMain h5{
    margin: 0; 
    padding-bottom: 5px;
}
.loginMain div{
    padding-bottom: 20px;
}
.loginMain input{
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    border-color: whitesmoke;
    background-origin: padding-box;
}
.Btn{
    width: 350px;
    margin: auto;
    margin-top: 20px;
    color: black;
    align-items: center;
    border-radius: 10px;
}
.Btn button{
    margin: auto;
    padding:10px 50% 10px 50%;
    font-size: 17px;
    background-color: #556b2f;
    border-color: #556b2f;
    box-shadow: none;
}