.Main{
    padding-top:60px;
    background-color: #63738a;
    padding-bottom: 400px;
}
.signUp{
    width: 30%;
    margin: auto;
    background-color: white;
}
.header h1{
    padding-top: 10px;
    text-align: center;
    color: #636363;
}
.header h5{
    margin:0;
    color: #999;
    text-align: center;
}
.signUpMain{
    width: 80%;
    margin: auto;
    padding-top: 40px;
}
.signUpMain h5{
    margin: 0;
    padding-bottom: 10px;
}
.signUpMain input{
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.Btn{
  width: 100%;
  margin-bottom: 30px;
}

.Btn button{
    width: 100%;
    padding:10px 0 10px 0;
    text-align: center;
    font-size: 17px;
    box-sizing: border-box;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    margin-bottom: 20px;
    border-radius: 5px;
}
.footer{
    width: 30%;
    margin: auto;
    text-align: center;
    color: #fff;
}